body {
    font-family: 'Athiti', sans-serif;
}

a {
    color: rgb(122, 30, 76);
    font-style: bold;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
      
}


/* image hover */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}

.hover13 figure:hover img {
	opacity: 1;
	animation: flash 1.5s;
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


 /* slider Right */  
  #slideshow {
	overflow: hidden;
	height: 450px;
	width: 100%;
	margin: 0 auto;
  }
  
  .slide-wrapper {
	width: 100%;
	-webkit-animation: slide 18s ease infinite;
  }
  
  .slide {
	float: left;
	height: 450px;
	width: 100%;
  }
  
  .slide-number {
	color: #000;
	text-align: center;
	font-size: 10em;
  }
  
  @-webkit-keyframes slide {
	20% {margin-left: 0px;}
	30% {margin-left: -728px;}
	50% {margin-left: -728px;}
	60% {margin-left: -1456px;}
	70% {margin-left: -1456px;}
	80% {margin-left: -2184px;}
	90% {margin-left: -2184px;}
  }
  